<li>
	<a href="{{base_url}}/manage/pages/{{#page}}{{id}}{{/page}}">
		{{#page}}
		<img style="display:inline-block; margin-left: -20px; margin-top: -20px; margin-right: 20px; vertical-align: top; height: 100px;" src="http://immediatenet.com/t/m?Size=1024x1024&amp;URL=http://www.getlayla.com">
			{{#lang}}
				{{meta_title}}
			{{/lang}}
		{{/page}}
	</a>
</li>