<li>
	<a href="/manage/media/module/{{module_id}}/group/{{mediagroup_id}}/asset/{{#asset}}{{id}}{{/asset}}">
		{{#asset}}
			<img src="{{location}}">
			{{name}}
			{{description}}
		{{/asset}}
	</a>
</li>