{{#account}}
<li>
	<a href="/manage/accounts/edit/{{id}}">
		<img style="display:inline-block; margin-left: -20px; margin-top: -20px; margin-right: 20px; vertical-align: top; height: 100px;" src="http://immediatenet.com/t/m?Size=1024x1024&amp;URL=http://www.getlayla.com">{{name}} - {{email}}
	</a>
</li>
{{/account}}