<li>
	<a href="{{base_url}}/manage/media/{{module_id}}/group/{{mediagroup_id}}/asset/{{#asset}}{{#lang}}{{slug}}{{/lang}}{{/asset}}">
		{{#asset}}
			<img src="{{location}}">
			{{name}}
			{{description}}
		{{/asset}}
	</a>
</li>